@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@font-face {
    font-family: 'Noto Sans Thai UI';
    src: url('../fonts/NotoSansThaiUI-Regular.ttf') format('truetype');
    font-style: normal
}

@font-face {
    font-family: 'Noto Sans Thai UI Semibold';
    src: url('../fonts/NotoSansThaiUI-SemiBold.ttf') format('truetype');
    font-style: normal
}

.bd-gray-100 {
    color: #000;
    background-color: #f8f9fa;
}